body {
    background-color: #000000;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.post {
    background-color: white;
    border: 1px solid #dbdbdb;
    width:  500px;
}

.header {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    padding: 10px;
}

.propic {
    background-color: #ddd;
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width:50;
}

.username {
    flex-grow: 1;
    font-size: 14px;
    
}

.image {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.footer {
    padding: 10px;
}

.Icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 24px;
    margin-right: 10px;
}

.Icons span {
    font-size: 24px;
    margin-right: 10px;
}

.Icons span:nth-child(4) {
    margin-left: auto;
    margin-right: 0;
}

